@use "Components" as com;
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&display=swap');



html{
    font-family: 'Poppins', sans-serif;
    background: #2C2C2C;
    background: linear-gradient(90deg, rgb(29, 26, 26) 0%, rgb(19, 18, 18) 100%);
    
    &::-webkit-scrollbar{
        background: #2C2C2C;
        background: linear-gradient(90deg, rgb(29, 26, 26) 0%, rgba(0,0,0,1) 100%);
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: com.$color-main;
        border-radius: 20px;
    }
    
}


body{
    margin: 0;
    padding: 0;
    color: com.$color-text;
    box-sizing: border-box;
}


nav{
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 100px;
    background: #242323;
}

/********* Sections  Styles *****/
.container{
    max-width: 1100px;
    margin: auto;
    padding-top: 10px;
}

.container-1{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    img{
        margin: 20px;
        width: 400px;
        height: 300px;
    }
}




.skills{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 10px;
    padding: 10px;
}


.proyects{
    margin: 40px 0;
    margin-top: 80px;
    width: 100%;
}

.cards-proyects{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    place-items: center;
    justify-content: center;
}


.contac-me{
    display: grid;
    gap: 20px;
    width: 50%;
    h3{
        color: com.$color-main;
        font-family:'Clicker Script' , cursive;
        font-size: 35px;
        margin: 5px;
    }
    form{
        display: grid;
        gap: 20px;
    }
}

footer{
    width: 90%;
    padding-bottom: 20px;
}



/********* Responsive  Styles *****/

@media  (max-width: 850px) {
    nav{
        width: calc(100% - 200px);
    }

    .menu{
            flex-direction: column;
            position: fixed;
            align-items: center;
            background: #242323;
            top: 50px;
            width: 100%;
            padding: 20px 0;
            top: -100%;
            left: 0;
            border: 0.5px solid #111111a6;
            li{
                margin-right: 0;
            }
    }

    .nav-burger{
        display: block;
        position: absolute;
        right: 0;
        :focus:not(:focus-visible) {
            outline: none;
        }
    }


    .menu_visible {
        top:44px;
        z-index: 100;
    }

    .logo{
        position: absolute;
        left: 10px;
        top: 18px;
    }

    .info-profile{
        .name{
            display: block;
        }
    }

    .container-1{
        flex-direction: column;
        img{
            width: 300px;
            height: 300px;
        }
    }

    .contac-me{
        width: 90%;
        form{
            place-items: center;
        }
    }

    .skills{
        .description-skill{
            text-align: center;
        }
    }

    .card{
        width: 260px;
        div{
            display: flex;
        }
        .btn-card{
            &::before{
                position: absolute;
                left: 18px;
                width: 70%;
            }
        }
    }

    .btn-send{
        width: 90%;
    }

    .credits{
        font-size: 20px;
    }

    .social-net{
        flex-direction: column;
        ul{
            li{
                padding: 0;
                width: 40px;
                a{
                    i{
                        margin: 5px;
                    }
                }
            }
        }
    }
}